<button class="btn" [routerLink]="['/tanks']">back to tanks</button>

<div *ngIf="tank" class="tank-create-container box-shadow">
  <div class="cover">
    <img class="tank-cover" [src]="tank.image_url" alt="tank">
  </div>

<div class="tank-create-container box-shadow">
  <label class="label">Tank Name</label>
  <input [(ngModel)]="tank.name" class="form-input" type="text" required>
  <label class="label">Serial Number</label>
  <input [(ngModel)]="tank.serial" class="form-input" type="text" required>
  <label class="label">Gallons</label>
  <input [(ngModel)]="tank.gallons" class="form-input" type="text" required>
  <button (click)="createTank(tank)" class="btn pull-right">Create Tank</button>
</div>
</div>